<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>

<body>
<p th:text="${user.getId()}">value</p>
<p th:text="${user.getName()}">value</p>
<p th:text="${user.getLastname()}">value</p>

<a th:href="@{/user/{id}/edit(id=${(user.getId())})}">Edit</a>
<br>

<form th:method="DELETE" th:action="@{/user/{id}/(id=${(user.getId())})}">
    <input type="submit" value="Delete"/>

</form>
<hr/>
<a href="/user/">to Index</a>
</body>
</html>